html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    position: relative;
    color: #000000;
}

a:hover::before, .active a::before{
    background: #663772;
    bottom: -2px;
    position: absolute;
    left: 0;
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 15px;
    content: "";
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

a:hover{
    color: #000000;
    text-decoration: none;
}
a.before-none::before{
    display: none;
}

.padding-section{
    padding: 80px 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

.title{
    position: relative;
    font-size: 2rem;
    font-weight: 300;
}

.title::before{
    background: #7c328f;
    bottom: -5px;
    position: absolute;
    left: 0;
    display: block;
    border-radius: 15px;
    height: 3.50px;
    width: 100%;
    content: "";
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}


.text-accent{
    color: #c496d3;
}

/* FOOTER */

footer{
    background: rgba(180, 145, 194, 0.29);
    font-family : 'Arial';
}

footer .copyright {
    font-size: 14px;
    font-family : 'Arial';
}

footer .title{
    display: inline-block;
    font-family : 'Arial';
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 300;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer ul li{
    margin-bottom: 5px;
}


/* HEADER*/


.navbar {
    width: 100%;
    background-color: rgba(45, 44, 60, 0.32); /* Fundal semi-transparent */
    backdrop-filter: blur(10px); /* Efect de blur */
    overflow: hidden;
    font-family: 'Arial';
    position: fixed; /* Fixam bara de navigație la partea de sus */
    top: 0;
    justify-content: flex-end;
    z-index: 1000;
    display: flex;
    padding: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px;
}

.navbar-menu {
    display: flex;
}

.navbar-item {
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 20px;
    display: block;
    transition: background-color 0.3s;
}

.navbar-item:hover {
    background-color: #663772;
    color: #FFFFFF;
}

.navbar-item:hover:before{
    display: none;
}

/* INDEX */

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1; /* videoclipul va fi în spatele content-ului */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay semi-transparent pentru a adăuga contrast textului */
    z-index: 1; /* Overlay-ul peste video, dar sub text */
}
.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    left:17.5%;
}

.main-title {
    font-size: 5rem; /* Alege dimensiunea dorită pentru font */
    color: #FFF; /* Schimbă culoarea dacă este necesar */
    opacity: 0;
    animation: zoomIn 1s forwards;
    animation-delay: 0.5s; /* Sau ajustează când vreau să înceapă animația */

}

/* FISIERE MEDIA */

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(2);
        opacity: 1;
    }
}
/* Asigură că meniul este responsiv */
@media screen and (max-width: 600px) {
    .navbar-container {
        flex-direction: column;
    }
}

/* LAST NEWs */
.box{
    border-radius: 15px;
    padding: 15px;
    background: #ffffff;
    color: #030303;
    box-shadow: 0 5px 5px -5px;
    flex-wrap: wrap;
    height: 100%;
}

.last-news .box .avatar{
    border-radius: 50%;
    margin: 0 auto;
    height: 200px;
    box-shadow: 0 5px 5px -5px;
    width: 200px;
    display: block;
}


.last-news .box .placeholder span{
    font-weight: 300;
}

.last-news .box a:hover span{
    color: black;
}


/* CARDS */
.cards .box span{
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
}

.cards .box img{
    height: 100px;
}

.cards .learn{
    background: #c496d3;
}

.cards .posts{
    background: #663772;
}

.cards .contact{
    background: #421949;
}

.cards .competitions{
    background: #ef5fa6;
}

/* STATISTICS :) */

.statistics .box span{
    display: block;
    font-weight: 400;
    font-size: 36px;
}

.statistics .exe span:first-child{
    color: #ef5fa6
}

.statistics .courses span:first-child{
    color: #dd00ff
}

.statistics .teachers span:first-child{
    color: #00b4ff
}

.statistics .students span:first-child{
    color: #7cd6cc
}